.container {
  width: 133vh;
  height: 100vh;
  position: relative;
  color: black;
  /*text-shadow: -1px 0 1vw white, 0 1px 1vw white, 1px 0 1vw white, 0 -1px 1vw white*/
}

.container, h1 {
  font-size: 6vh;
  position: absolute;
  margin: 0;
  line-height: 9vh;
}

#p1 {
  top: 15vh;
  width: 133vh;
  text-align: center;
}

#time {
  top: 55vh;
  width: 133vh;
  text-align: center;
}

#logo {
  position: absolute;
  right: 104vh;
  bottom: 13vh;
  height: 8vh;
}

#p2 {
  right: 13vh;
  bottom: 13vh;
}
