.container {
  width: 100%;
  height: 75vw;
  position: relative;
  color: #3f3f3f;
  /*text-shadow: -1px 0 1vw white, 0 1px 1vw white, 1px 0 1vw white, 0 -1px 1vw white*/
}

#p1 {
  left: 3vw;
  top: 28vw;
  position:absolute;
  margin: 0;
  line-height: 7vw;
  font-size: 5vw;
}

#time {
  top: 55vw;
  width: 100vw;
  position: absolute;
  margin: 0;
  text-align: center;
  line-height: 5vw;
  font-size: 5vw;
}

#p2 {
  right: 3vw;
  bottom: 3vw;
  position:absolute;
  margin: 0;
  font-size: 5vw;
}
