/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body {
  margin: 0;
  font-family: 'Noto Sans TC', Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/background.jpg');
  background-size: 134vh 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

